[submodule "device_models/elder/inih"]
	path = device_models/elder/inih
	url = https://github.com/benhoyt/inih.git
[submodule "third_party/courbet_deps/mavlink_headers"]
	path = third_party/courbet_deps/mavlink_headers
	url = https://github.com/mavlink/c_library_v2.git
[submodule "third_party/courbet_deps/ardupilot_gazebo"]
	path = third_party/courbet_deps/ardupilot_gazebo
	url = https://github.com/mhcho1994/ardupilot_gazebo.git
	branch = FastDyn
[submodule "third_party/courbet_deps/SITL_Models"]
	path = third_party/courbet_deps/SITL_Models
	url = https://github.com/michaelprooney/SITL_Models.git
[submodule "third_party/common/cmsis-svd-data"]
	path = third_party/common/cmsis-svd-data
	url = https://github.com/cmsis-svd/cmsis-svd-data.git
[submodule "third_party/common/rumoca"]
	path = third_party/common/rumoca
	url = https://github.com/cognipilot/rumoca.git
[submodule "third_party/common/modelica_models"]
	path = third_party/common/modelica_models
	url = https://github.com/cognipilot/modelica_models.git
[submodule "tools/raw2elf"]
	path = tools/raw2elf
	url = https://github.com/PSecLab/raw2elf.git
